.user_listing li {
	display: block;
	position: relative;
	z-index: 1;
	
	& > a {
		padding: 1.5em 0;
		display: block;
		color: $black;
	}

	h4 {
		margin: 1em 0 0 0;
	}

	strong {

		font-weight: lighter;
	}

	&.is-selected,
	&.is-selected:hover {
		background-color: $white;
	}
}