.user-status {
	color: $gray;
	text-transform: uppercase;
	font-weight: bold;
}


.is-working {
	.user-status {
		color: $orange;
	}
}

.is-free {
	.user-status {
		color: $green;
	}
}

.is-selected {

}

.is-logged {

}