<!-- REGISTER -->
<template name="_register">
	<form id="register-form" action="action">
		<div class="form-group">
			<input class="form-control form-control--success" name="email" type="email" id="register-email" placeholder="Email"/>
		</div>
		<div class="form-group">
			<input class="form-control form-control--success" name="password" type="password" id="register-password" placeholder="••••"/>
		</div>
		<div class="text-right">
			<input class="btn btn-success" type="submit" value="Create an Account" />
		</div>
	</form>
</template>