@mixin _btn ( $c, $bg ){
	background-color: $bg;
	border-color: darken($bg, 10%);
	color: $c;
	@include borderRadius(0);

	&:hover,
	&:focus {
		background-color: darken($bg, 10%);
		border-color: darken($bg, 10%);
		color: $c;
		@include outLine( none );
		@include boxShadow( none );
	}
}

$btn: (
	default: (
		color: $white,
		bg: $gray
	),
	primary: (
		color: $white,
		bg: $blue
	),
	success: (
		color: $white,
		bg: $green
	),
	warning: (
		color: $white,
		bg: $orange
	),
	error: (
		color: $white,
		bg: $red
	),
);

.btn {
	@include _btn(
		$c: $black,
		$bg: $gray
	);
}

.btn-right {
	float: right;
}

@each $thm in $btn {
	$_name: nth($thm, 1);
	$_values: nth($thm, 2);
	.btn-#{$_name} {
		@include _btn(
			$c: map-get($_values, color),
			$bg: map-get($_values, bg)
		);
	}
}

.dropdown-menu {
	border: 1px solid $gray;
	@include boxShadow( none );
	@include borderRadius( 0 );
}

.dropdown-menu--right {
	left: auto;
	right: 0;
}