@mixin _input ( $c ){
	@include borderRadius(0);
	@include boxShadow(none);
	@include boxSizing;
	border: none;
	background-color: $white;
	border: 1px solid $white;
	border-bottom-color: $gray;
	height: 3em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&.active,
	&:hover,
	&:focus {
		border-color: $c !important;
		@include boxShadow(none);
	}
}

$input: (
	success: (
		bg: $green,
		color: $white,
	),
	warning: (
		bg: $orange,
		color: $white,
	),
	error: (
		bg: $red,
		color: $white,
	),
	dark: (
		bg: $darkgray,
		color: $white,
	),
	clear: (
		bg: $whitegray,
		color: $black,
	),
);

.form-control {
	@include _input(
		$c: $blue
	);
}

.dropdown-menu .form-control {
	@extend .form-control;
	border: none;

	&.active,
	&:hover,
	&:focus {
		background-color: $blue;
		color: $white;
	}
}

select.form-control {
	border: 1px solid $gray;
}

.form-control--big {
	font-size: 1.6em;
}

.form-control--small {
	font-size: 0.4em;
}

@each $thm in $input {
	$_name: nth($thm, 1);
	$_values: nth($thm, 2);
	.form-control--#{$_name} {
		@include _input( $c: map-get($_values, bg) );
	}

	.dropdown-menu .form-control--#{$_name} {
		@extend .form-control--#{$_name};
		border: none;

		&.active,
		&:hover,
		&:focus {
			background-color: map-get($_values, bg);
			color: map-get($_values, color);
		}
	}
}