.circle_pmdr {
    position: relative;
    margin: auto;
    z-index: 1;
    width: 1em;
    height: 1em;
    font-size: 5em;
    overflow: hidden;
    border-radius: 100%;
    color: $black;
}

.circle_pmdr-half {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0.5em;
    overflow: hidden;
}

.circle_pmdr-half-container {
    position: absolute;
    z-index: 2; 
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    @include transformOrigin( 100% 50% );
    @include transformRotate( 180deg );
}

.circle_pmdr-half-progress {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200%;
    background: $orange;
    border-radius: 100%;
    @include transition( 0.6s ease );
}

.circle_pmdr-timer {
    position: absolute;
    z-index: 3;
    background-color: white;
    top: 0.25em;
    left: 0.25em;
    bottom: 0.25em;
    right: 0.25em;
    overflow: hidden;
    font-size: 0.25em;
    border: 2px solid $whitesmoke;
    line-height: 3em;
    @include borderRadius( 100% );
    @include imgBg( "../images/john-doe.jpg" );

    &:before {
        content: "";
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: fade-out($black, 0.4);
        @include borderRadius( 100% );
        @include transition( 0.6s ease );
    }

    .time {
        position: relative;
        z-index: 5;
        display: inline-block;
        margin-top: 0.1em;
        vertical-align: middle;
        width: 100%;
        line-height: 1.2em;
        font-size: 1em;
        text-align: center;
        color: $white;
        font-weight: lighter;
    }

    .time small {
        margin-top: 0.1em;
        font-size: 1.4em;
        display: block;
    }
}

.circle_pmdr-half:nth-child(2) {
    right: 0;
    left: auto;

    .circle_pmdr-half-container {
        right: 0;
        left: auto;
        @include transformOrigin( 0% 50% );
        @include transformRotate( -180deg );
    }

    .circle_pmdr-half-progress {
        right: 0;
        left: auto;
    }
}

.is-working {
    .circle_pmdr-timer .time small {
        display: none;
    }  
}

.is-free {
    .circle_pmdr-half-progress {
        background-color: $green;
    }

    .circle_pmdr-timer:before,
    .circle_pmdr-timer .time {
        visibility: hidden;
    }
}

.is-logged {

    .circle_pmdr-half-progress {
        background-color: $gray;
    }

    .circle_pmdr-timer:before {
        background: $black;
    }
}

.is-logged.is-free {
    
    .circle_pmdr-timer:before,
    .circle_pmdr-timer .time {
        cursor: pointer;
        visibility: visible
    }

    .circle_pmdr-timer .time {
        font-size: 0.75em;
    }

    .circle_pmdr:hover {
        .circle_pmdr-half-progress {
            background-color: $green;
        }
    }
}

.is-free:hover,
.is-working:hover {
    .circle_pmdr-timer {
        border-color: lighten($whitesmoke, 4%)
    }
}

.is-selected {
    .circle_pmdr-timer {
        border-color: $white;
    }
}