.pmdr {
    .btn {
        margin: 0 0 0 -1px !important;
    }

    .btn:first-child {
        margin: 0 !important;
    }
}

.circle_pmdr {
    position: relative;
    margin: auto;
    z-index: 1;
    width: 1em;
    height: 1em;
    font-size: 5em;
    overflow: hidden;
    border-radius: 100%;
    color: $black;
}

.circle_pmdr-half {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0.5em;
    overflow: hidden;
}

.circle_pmdr-half-container {
    position: absolute;
    z-index: 2; 
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    @include transformOrigin( 100% 50% );
    @include transformRotate( 180deg );
}

.circle_pmdr-half-progress {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200%;
    border-radius: 100%;
}

.circle_pmdr-half:nth-child(2) {
    right: 0;
    left: auto;

    .circle_pmdr-half-container {
        right: 0;
        left: auto;
        @include transformOrigin( 0% 50% );
        @include transformRotate( -180deg );
    }

    .circle_pmdr-half-progress {
        right: 0;
        left: auto;
    }
}



.circle_pmdr-timer {
    position: absolute;
    z-index: 3;
    background-color: white;
    top: 0.1em;
    left: 0.1em;
    bottom: 0.1em;
    right: 0.1em;
    font-size: 0.4em;
    line-height: 2.15em;
    color: $black;
    @include borderRadius( 100% );
    @include imgBg();

    .time {
        position: relative;
        z-index: 5;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        line-height: 1em;
        font-size: 0.6em;
        text-align: center;
        color: inherit;
        visibility: hidden;
    }

    .time small {
        font-size: 0.8em;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
    }
}

.is-logged {

    .circle_pmdr-timer {
        cursor: pointer;
        background: $white;
        background-image: none !important;
    }
    
    &.is-free {

        .circle_pmdr .circle_pmdr-timer .time {
            visibility: visible;
        } 

        .circle_pmdr:hover .circle_pmdr-timer {
            background-color: $green;
            color: $white;
        }
    }

    &.is-working {
        .circle_pmdr:hover .circle_pmdr-half-progress {
            background-color: $red;
        }
    }
}

.is-working {
    .circle_pmdr-timer {
        background: $white;
        background-image: none !important;

        .time {
            visibility: visible;
        }

        .time small {
            display: none;
        }

        &:hover {
            color: $red;
        }
    }

    .circle_pmdr-half-progress {
        background-color: $orange;
    }

    &.is-selected {

        .circle_pmdr {
            background-color: $whitegray;
        }
    }
}