.timeline_user {
	margin: 3em 0 0 1.2em;
	padding: 1em 0 3em 0;
	list-style: none;
	border-left: 1px solid $gray;

	li {
		display: block;
		margin: 3em 0;
		position: relative;

		.dot {
			content: '';
			position: absolute;
			height: 2em;
			width: 2em;
			line-height: 2em;
			top: 0.4em;
			left: -1px;
			margin: 0 0 0 -1em;
			background-color: $white; 
			font-size: 0.8em;
			border: 2px solid $gray;
			color: $gray;
			text-align: center;
			@include borderRadius( 0.6em );
			@include boxSizing;

			i {
				vertical-align: 0.05em;
			}
		}

		&.event-success {
			.dot {
				border-color: $green;
				color: $green;
			}
		}

		&.event-warning {
			.dot {
				border-color: $orange;
				color: $orange;
			}
		}

		&.event-error {
			.dot {
				border-color: $red;
				color: $red;
			}
		}

		&.event-primary {
			.dot {
				border-color: $blue;
				color: $blue;
			}
		}

		&:first-child {
			margin-top: -1.4em;
		}
	}

	li > .row {
		margin: 0;
	}

	strong, h4 {
		margin: 0;
		line-height: 1.4em;
		font-weight: normal;
	}
	
	strong {
		color: $gray;
		display: block;
		margin: 0.5em 1em;
		font-size: 0.9em;
	}

	h4 {
		font-size: 1.6em;
		font-weight: lighter;

		small {
			display: block;
			font-size: 0.6em;
		}
	}
}