.navbar {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	background-color: $white;
	margin: 0;
	height: 4em;
	line-height: 4em;
	border-bottom: 1px solid $whitesmoke;
	@include borderRadius(0);

	& > div {
		display: inline-block;
		vertical-align: -1.1em;
		width: 100%;
	}
	
	.navbar-brand {
		height: auto;
	}

	.navbar-brand h2 {
		margin: 0;
		font-size: 1.4em;
		line-height: 1.3em;
		color: $black;
		font-weight: normal;
		display: inline-block;
	}

	.nav > li > a {
		color: $black;
		padding: 1.4em;

		&:hover,
		&:focus,
		&:active {
			background: none;
			color: $green;
		}
	}

	.nav > li.active a {
		color: $green;
	}

	.nav > li > .dropdown-menu {
		margin-top: -2px;
		border: 1px solid $whitesmoke;
		border-top: none;
		@include boxShadow( none );
		@include borderRadius( 0 );
	}
}