.page {
	position: relative;
	padding-top: 4em;
	height: 100%;
	background-color: $white;
	@include boxSizing;
}

.page--login {
	@extend .page;
	padding: 4em 0;
	@include imgBg( "../images/bg-nature-blur.jpg" );
	@include vScroll;
}

.page--users {
	@extend .page;
}

.page-listing,
.page-detail {
	position: relative;
	height: 100%;
	z-index: 2;
	@include vScroll;
	@include boxSizing;
}

.page-listing {
	background-color: $whitesmoke;

	header {
		padding: 1em;
		border-bottom: 1px solid $white;
	}

	& > ul {
		margin: 0;
		padding: 0;
	}

	& > ul > li {
		display: block;
		list-style: none;
	}

}

.page-detail {}

.page-content {
	padding: 2em 3em 0;
	@include boxSizing;
}