.team-listing,
.team-user {
	float: left;
	height: 100%;
	@include vScroll;
}

.team-listing {
	width: 33.33%;
	background-color: $whitesmoke;

	ul {
		margin: 0;
		padding: 0;
	}

	ul > li {
		display: block;
		list-style: none;
	}

	ul > li > a {
		display: block;
		width: 100%;
		padding: 2em 0;
		color: $black;
		@include transition (0.2s ease);
	}

	ul > li.is-selected a,
	ul > li a:hover {
		background-color: $gray;
	}

	h4 {
		margin: 1em 0 0 0;
	}

	strong {

	}
}

.team-user {
	width: 66.66%;
	padding: 2em 3em;
	@include boxSizing;
}