.team-listing,
.team-user {
	height: 100%;
	@include vScroll;
}

.team-listing {
	background-color: $whitesmoke;

	ul {
		margin: 0;
		padding: 0;
	}

	ul > li {
		display: block;
		list-style: none;
	}

	ul > li > a {
		display: block;
		width: 100%;
		padding: 2em 0;
		color: $black;
		@include transition (0.2s ease);
	}
	
	ul > li a:hover {
		background-color: lighten($whitesmoke, 4%);
	}

	ul > li.is-selected a,
	ul > li.is-selected a:hover{
		background-color: $white;
	}

	h4 {
		margin: 1em 0 0 0;
	}

	strong {

		font-weight: lighter;
	}
}

.team-user {
	padding: 2em 3em 0;
	@include boxSizing;
}