<!-- USERS -->
<template name="_users">
	<div class="page--users">
		<div class="container-fluid container-height">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-no-padding">
					<div class="page-listing">
						<ul class="user-listing">
							{{#each users}}
								{{> _user_listing}}
							{{/each}}
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 col-no-padding">
					<div class="page-detail user">
						<div class="row">
							<div class="col-xs-12 col-lg-">
								{{#with user}}
									{{> _user}}
								{{/with}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>