<!-- USERS -->
<template name="_users">
	<div class="page--users">
		<div class="container-fluid container-height">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 col-no-padding">
					<div class="page-listing">
						<ul class="users_listing">
							{{#each users}}
								{{> _user_listing}}
							{{/each}}
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 col-no-padding">
					<div class="page-detail user_detail">
						{{#with user_selected}}
							{{> _user_detail}}
						{{/with}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>