<template name="_agenda">
	<div class="page--agenda">
		<div class="container-fluid container-height">
			<div class="row">
				<div class="col-xs-12">

					<div class="btn-group">
						<a href="#" class="change-view-cal btn btn-dark" data-view="basicDay">Day</a>
						<a href="#" class="change-view-cal btn btn-dark" data-view="basicWeek">Week</a>
						<a href="#" class="change-view-cal btn btn-dark" data-view="month">Month</a>
					</div>
					<div class="user-calendar">{{cal}}</div>

				</div>
			</div>
		</div>
	</div>
</template>