
<!-- USER DETAIL -->
<template name="_user_detail">
	<header class="header-detail">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-no-padding">
					<div class="user-avatar--big" style="background-image: url( {{profile.image}} );">
						{{#if user_is_logged}}
							<input class="form-control user_image" type="text" value="{{profile.image}}" placeholder="Name">
						{{/if}}
					</div>
					<div class="title-detail">
						<h2>
							{{#if user_is_logged}}
								<input class="form-control user_name" type="text" value="{{profile.name}}" placeholder="Name">
							{{/if}}
							{{#if user_is_no_logged}}
									{{profile.name}}
							{{/if}}
						</h2>
						<h4>
							{{#if user_is_logged}}
								<input class="form-control user_job" type="text" value="{{profile.job}}" placeholder="Name">
							{{/if}}
							{{#if user_is_no_logged}}
									{{profile.job}}
							{{/if}}
						</h4>
					</div>
				</div>
				{{#if user_is_logged}}
				<div class="col-xs-12 col-no-padding text-center">
					<div class="btn-group btn-group-lg">
						<button class="btn btn-dark pomodoro_less"><small><i class="glyphicon glyphicon-minus"></i></small></button>
						<button class="btn btn-dark pomodoro_start">{{pomodoro_timer}}</button>
						<button class="btn btn-dark pomodoro_more"><small><i class="glyphicon glyphicon-plus"></i></small></button>
					</div>
					<div class="btn-group btn-group-lg">
						<button class="btn btn-dark pomodoro_start"> Start </button>
					</div>
				</div>
				{{/if}}
			</div>
		</div>
	</header>
	<div class="page-content">

		
		<div class="row">
			<div class="col-xs-12">
				<h3>Pomodoro</h3>
				<table class="table">
					<tbody>
						<tr>
							<td><strong>All</strong></td>
							<td class="text-right"><label class="label label-dark">{{pmdr.total}}</label></td>
						</tr>
						<tr>
							<td><strong>Complete</strong></td>
							<td class="text-right"><label class="label label-success">{{pmdr.complete}}</label></td>
						</tr>
						<tr>
							<td><strong>Uncomplete</strong></td>
							<td class="text-right"><label class="label label-warning">{{pmdr.uncomplete}}</label></td>
						</tr>
					</tbody>
				</table>
				<div class="progress">
					<div class="progress-bar progress-bar-success" aria-valuenow="{{ pmdr.percent_complete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pmdr.percent_complete }}%;">
						{{ pmdr.percent_complete }}% Complete
					</div>
					<div class="progress-bar progress-bar-default" aria-valuenow="{{ pmdr.percent_uncomplete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pmdr.percent_uncomplete }}%;">
						{{ pmdr.percent_uncomplete }}% Uncomplete
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h3>Project</h3>
				<table class="table">
					<tbody>
						<tr>
							<td><small>WEB</small></td>
							<td><strong>PNPC</strong></td>
							<td><span>OT Pays des collines</span></td>
							<td class="text-right"><label class="label label-dark">43%</label></td>
						</tr>
						<tr>
							<td><small>WEB</small></td>
							<td><strong>PNPC</strong></td>
							<td><span>OT Pays des collines</span></td>
							<td class="text-right"><label class="label label-dark">43%</label></td>
						</tr>
						<tr>
							<td><small>WEB</small></td>
							<td><strong>PNPC</strong></td>
							<td><span>OT Pays des collines</span></td>
							<td class="text-right"><label class="label label-dark">43%</label></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</template>