<!-- LOGIN -->
<template name="_login">
	<form id="login-form" action="action">
		<div class="form-group">
			<input class="form-control form-control--success" name="login" type="text" id="login-email" placeholder="Email"/>
		</div>
		<div class="form-group">
			<input class="form-control form-control--success" name="password" type="password" id="login-password" placeholder="••••"/>
		</div>
		<div class="text-right">
			<input class="btn btn-success" type="submit" value="Sign in" />
		</div>
	</form> 
</template>
