@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
html {
  height: 100%; }

body {
  z-index: 1;
  position: relative;
  margin: 0;
  color: #222222;
  height: 100%;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6, a, p, strong, span, *, li, input, button, textarea {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a:focus {
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

.col-center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.row-small {
  margin: 0 -8px; }
  .row-small [class^=col-] {
    padding: 0 8px; }

.container-height {
  height: 100%; }
  .container-height > .row, .container-height > .row > [class^=col-] {
    height: 100%; }

.col-no-padding {
  padding: 0; }

.page, .page--login, .page--users {
  position: relative;
  padding-top: 4em;
  height: 100%;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.page--login {
  padding: 4em 0;
  background-image: url("../images/bg-nature-blur.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.page-listing,
.page-detail {
  position: relative;
  height: 100%;
  z-index: 2;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.page-listing {
  background-color: #eeeeee; }
  .page-listing header {
    padding: 1em;
    border-bottom: 1px solid white; }
  .page-listing > ul {
    margin: 0;
    padding: 0; }
  .page-listing > ul > li {
    display: block;
    list-style: none; }

.page-content {
  padding: 2em 3em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.app {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.app-title b {
  font-weight: normal;
  color: #33cc99; }

.app-notify--default {
  max-width: 100%;
  color: #222222;
  padding: 0.6em 3em 0.6em 1em;
  background-color: #eeeeee;
  border-width: 0;
  border-style: solid;
  border-color: #cccccc;
  border-left-width: 0.4em;
  line-height: 1.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .app-notify--default ul {
    padding: 0;
    margin: 0;
    line-height: 1.4em; }
  .app-notify--default ul > li {
    display: block;
    line-height: 1.4em; }
  .app-notify--default ul > li > a {
    color: #cccccc !important; }
    .app-notify--default ul > li > a:hover {
      color: #b3b3b3 !important; }
  .app-notify--default .remove-notify {
    position: absolute;
    top: 50%;
    right: 1em;
    margin: -0.5em -0.5em 0 0;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    color: #cccccc;
    background-color: white;
    border: 1px solid white;
    font-size: 1.2em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .app-notify--default .remove-notify i {
      line-height: 0;
      font-size: 0.6em;
      vertical-align: 0.25em; }
    .app-notify--default .remove-notify:hover {
      border-color: #cccccc; }

.app-notify--primary {
  max-width: 100%;
  color: #222222;
  padding: 0.6em 3em 0.6em 1em;
  background-color: #eeeeee;
  border-width: 0;
  border-style: solid;
  border-color: #6699cc;
  border-left-width: 0.4em;
  line-height: 1.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .app-notify--primary ul {
    padding: 0;
    margin: 0;
    line-height: 1.4em; }
  .app-notify--primary ul > li {
    display: block;
    line-height: 1.4em; }
  .app-notify--primary ul > li > a {
    color: #6699cc !important; }
    .app-notify--primary ul > li > a:hover {
      color: #407fbf !important; }
  .app-notify--primary .remove-notify {
    position: absolute;
    top: 50%;
    right: 1em;
    margin: -0.5em -0.5em 0 0;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    color: #6699cc;
    background-color: white;
    border: 1px solid white;
    font-size: 1.2em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .app-notify--primary .remove-notify i {
      line-height: 0;
      font-size: 0.6em;
      vertical-align: 0.25em; }
    .app-notify--primary .remove-notify:hover {
      border-color: #6699cc; }

.app-notify--success {
  max-width: 100%;
  color: #222222;
  padding: 0.6em 3em 0.6em 1em;
  background-color: #eeeeee;
  border-width: 0;
  border-style: solid;
  border-color: #33cc99;
  border-left-width: 0.4em;
  line-height: 1.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .app-notify--success ul {
    padding: 0;
    margin: 0;
    line-height: 1.4em; }
  .app-notify--success ul > li {
    display: block;
    line-height: 1.4em; }
  .app-notify--success ul > li > a {
    color: #33cc99 !important; }
    .app-notify--success ul > li > a:hover {
      color: #29a37a !important; }
  .app-notify--success .remove-notify {
    position: absolute;
    top: 50%;
    right: 1em;
    margin: -0.5em -0.5em 0 0;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    color: #33cc99;
    background-color: white;
    border: 1px solid white;
    font-size: 1.2em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .app-notify--success .remove-notify i {
      line-height: 0;
      font-size: 0.6em;
      vertical-align: 0.25em; }
    .app-notify--success .remove-notify:hover {
      border-color: #33cc99; }

.app-notify--warning {
  max-width: 100%;
  color: #222222;
  padding: 0.6em 3em 0.6em 1em;
  background-color: #eeeeee;
  border-width: 0;
  border-style: solid;
  border-color: #ff6600;
  border-left-width: 0.4em;
  line-height: 1.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .app-notify--warning ul {
    padding: 0;
    margin: 0;
    line-height: 1.4em; }
  .app-notify--warning ul > li {
    display: block;
    line-height: 1.4em; }
  .app-notify--warning ul > li > a {
    color: #ff6600 !important; }
    .app-notify--warning ul > li > a:hover {
      color: #cc5200 !important; }
  .app-notify--warning .remove-notify {
    position: absolute;
    top: 50%;
    right: 1em;
    margin: -0.5em -0.5em 0 0;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    color: #ff6600;
    background-color: white;
    border: 1px solid white;
    font-size: 1.2em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .app-notify--warning .remove-notify i {
      line-height: 0;
      font-size: 0.6em;
      vertical-align: 0.25em; }
    .app-notify--warning .remove-notify:hover {
      border-color: #ff6600; }

.app-notify--error {
  max-width: 100%;
  color: #222222;
  padding: 0.6em 3em 0.6em 1em;
  background-color: #eeeeee;
  border-width: 0;
  border-style: solid;
  border-color: #ff6666;
  border-left-width: 0.4em;
  line-height: 1.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .app-notify--error ul {
    padding: 0;
    margin: 0;
    line-height: 1.4em; }
  .app-notify--error ul > li {
    display: block;
    line-height: 1.4em; }
  .app-notify--error ul > li > a {
    color: #ff6666 !important; }
    .app-notify--error ul > li > a:hover {
      color: #ff3333 !important; }
  .app-notify--error .remove-notify {
    position: absolute;
    top: 50%;
    right: 1em;
    margin: -0.5em -0.5em 0 0;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    color: #ff6666;
    background-color: white;
    border: 1px solid white;
    font-size: 1.2em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .app-notify--error .remove-notify i {
      line-height: 0;
      font-size: 0.6em;
      vertical-align: 0.25em; }
    .app-notify--error .remove-notify:hover {
      border-color: #ff6666; }

.app-notifies {
  position: fixed;
  z-index: 2000;
  bottom: 0;
  right: 0;
  width: 33.34%; }

.nav-tabs {
  border-color: #222222; }
  .nav-tabs > li {
    margin: 0; }
  .nav-tabs > li > a, .nav-tabs > li > a:hover {
    margin: 0;
    color: #222222;
    background: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: none;
    color: white;
    background-color: #222222; }
  .nav-tabs > li.active > a:focus, .nav-tabs > li > a:focus {
    background-color: rgba(34, 34, 34, 0.4);
    color: white; }

.form-control, .dropdown-menu .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background-color: white;
  border: 1px solid white;
  border-bottom-color: #cccccc;
  height: 3em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .form-control.active, .form-control:hover, .form-control:focus {
    border-color: #6699cc !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

.dropdown-menu .form-control {
  border: none; }
  .dropdown-menu .active.form-control, .dropdown-menu .form-control:hover, .dropdown-menu .form-control:focus {
    background-color: #6699cc;
    color: white; }

select.form-control, .dropdown-menu select.form-control {
  border: 1px solid #cccccc; }

.form-control--big {
  font-size: 1.6em; }

.form-control--small {
  font-size: 0.4em; }

.form-control--success, .dropdown-menu .form-control--success {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background-color: white;
  border: 1px solid white;
  border-bottom-color: #cccccc;
  height: 3em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .form-control--success.active, .form-control--success:hover, .form-control--success:focus {
    border-color: #33cc99 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

.dropdown-menu .form-control--success {
  border: none; }
  .dropdown-menu .active.form-control--success, .dropdown-menu .form-control--success:hover, .dropdown-menu .form-control--success:focus {
    background-color: #33cc99;
    color: white; }

.form-control--warning, .dropdown-menu .form-control--warning {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background-color: white;
  border: 1px solid white;
  border-bottom-color: #cccccc;
  height: 3em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .form-control--warning.active, .form-control--warning:hover, .form-control--warning:focus {
    border-color: #ff6600 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

.dropdown-menu .form-control--warning {
  border: none; }
  .dropdown-menu .active.form-control--warning, .dropdown-menu .form-control--warning:hover, .dropdown-menu .form-control--warning:focus {
    background-color: #ff6600;
    color: white; }

.form-control--error, .dropdown-menu .form-control--error {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background-color: white;
  border: 1px solid white;
  border-bottom-color: #cccccc;
  height: 3em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .form-control--error.active, .form-control--error:hover, .form-control--error:focus {
    border-color: #ff6666 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

.dropdown-menu .form-control--error {
  border: none; }
  .dropdown-menu .active.form-control--error, .dropdown-menu .form-control--error:hover, .dropdown-menu .form-control--error:focus {
    background-color: #ff6666;
    color: white; }

.form-control--dark, .dropdown-menu .form-control--dark {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background-color: white;
  border: 1px solid white;
  border-bottom-color: #cccccc;
  height: 3em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .form-control--dark.active, .form-control--dark:hover, .form-control--dark:focus {
    border-color: #41464d !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

.dropdown-menu .form-control--dark {
  border: none; }
  .dropdown-menu .active.form-control--dark, .dropdown-menu .form-control--dark:hover, .dropdown-menu .form-control--dark:focus {
    background-color: #41464d;
    color: white; }

.form-control--clear, .dropdown-menu .form-control--clear {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background-color: white;
  border: 1px solid white;
  border-bottom-color: #cccccc;
  height: 3em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .form-control--clear.active, .form-control--clear:hover, .form-control--clear:focus {
    border-color: #f8f8f8 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

.dropdown-menu .form-control--clear {
  border: none; }
  .dropdown-menu .active.form-control--clear, .dropdown-menu .form-control--clear:hover, .dropdown-menu .form-control--clear:focus {
    background-color: #f8f8f8;
    color: #222222; }

.login {
  position: relative;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.34);
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .login .nav-tabs {
    margin-right: -2em;
    margin-left: -2em;
    padding: 0 2em; }
  .login .nav-tabs > li {
    width: 50%;
    text-align: center; }
  .login .tab-content {
    margin: 0 -2em -2em;
    padding: 2em;
    background: white; }

.login-title {
  font-size: 2em;
  text-align: center;
  color: #222222;
  margin-bottom: 2em; }

.btn {
  background-color: #cccccc;
  border-color: #b3b3b3;
  color: #222222;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #b3b3b3;
    border-color: #b3b3b3;
    color: #222222;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .btn:active {
    background-color: #c2c2c2; }
  .btn .caret {
    margin-left: 0.4em;
    vertical-align: 0.1em; }

.btn-right {
  float: right; }

.btn-right + .btn-right {
  margin-left: 1em; }

.btn-default {
  background-color: #cccccc;
  border-color: #b3b3b3;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .btn-default:hover, .btn-default:active, .btn-default:focus {
    background-color: #b3b3b3;
    border-color: #b3b3b3;
    color: white;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .btn-default:active {
    background-color: #c2c2c2; }
  .btn-default .caret {
    margin-left: 0.4em;
    vertical-align: 0.1em; }

.open > .dropdown-toggle.btn-default {
  background-color: #cccccc;
  border-color: #b3b3b3;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default:active, .open > .dropdown-toggle.btn-default:focus {
    background-color: #b3b3b3;
    border-color: #b3b3b3;
    color: white;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .open > .dropdown-toggle.btn-default:active {
    background-color: #c2c2c2; }
  .open > .dropdown-toggle.btn-default .caret {
    margin-left: 0.4em;
    vertical-align: 0.1em; }

.btn-clear {
  background-color: white;
  border-color: #e6e6e6;
  color: #222222;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .btn-clear:hover, .btn-clear:active, .btn-clear:focus {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    color: #222222;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .btn-clear:active {
    background-color: whitesmoke; }
  .btn-clear .caret {
    margin-left: 0.4em;
    vertical-align: 0.1em; }

.open > .dropdown-toggle.btn-clear {
  background-color: white;
  border-color: #e6e6e6;
  color: #222222;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .open > .dropdown-toggle.btn-clear:hover, .open > .dropdown-toggle.btn-clear:active, .open > .dropdown-toggle.btn-clear:focus {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    color: #222222;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .open > .dropdown-toggle.btn-clear:active {
    background-color: whitesmoke; }
  .open > .dropdown-toggle.btn-clear .caret {
    margin-left: 0.4em;
    vertical-align: 0.1em; }

.btn-primary, .fc-button  {
  background-color: #6699cc;
  border-color: #407fbf;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .btn-primary:hover, .fc-button :hover, .btn-primary:active, .fc-button :active, .btn-primary:focus, .fc-button :focus {
    background-color: #407fbf;
    border-color: #407fbf;
    color: white;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .btn-primary:active, .fc-button :active {
    background-color: #578fc7; }
  .btn-primary .caret, .fc-button  .caret {
    margin-left: 0.4em;
    vertical-align: 0.1em; }

.open > .dropdown-toggle.btn-primary, .open > .dropdown-toggle.fc-button  {
  background-color: #6699cc;
  border-color: #407fbf;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .open > .dropdown-toggle.btn-primary:hover, .open > .dropdown-toggle.fc-button :hover, .open > .dropdown-toggle.btn-primary:active, .open > .dropdown-toggle.fc-button :active, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.fc-button :focus {
    background-color: #407fbf;
    border-color: #407fbf;
    color: white;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .open > .dropdown-toggle.btn-primary:active, .open > .dropdown-toggle.fc-button :active {
    background-color: #578fc7; }
  .open > .dropdown-toggle.btn-primary .caret, .open > .dropdown-toggle.fc-button  .caret {
    margin-left: 0.4em;
    vertical-align: 0.1em; }

.btn-success {
  background-color: #33cc99;
  border-color: #29a37a;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: #29a37a;
    border-color: #29a37a;
    color: white;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .btn-success:active {
    background-color: #2fbc8d; }
  .btn-success .caret {
    margin-left: 0.4em;
    vertical-align: 0.1em; }

.open > .dropdown-toggle.btn-success {
  background-color: #33cc99;
  border-color: #29a37a;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .open > .dropdown-toggle.btn-success:hover, .open > .dropdown-toggle.btn-success:active, .open > .dropdown-toggle.btn-success:focus {
    background-color: #29a37a;
    border-color: #29a37a;
    color: white;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .open > .dropdown-toggle.btn-success:active {
    background-color: #2fbc8d; }
  .open > .dropdown-toggle.btn-success .caret {
    margin-left: 0.4em;
    vertical-align: 0.1em; }

.btn-warning {
  background-color: #ff6600;
  border-color: #cc5200;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .btn-warning:hover, .btn-warning:active, .btn-warning:focus {
    background-color: #cc5200;
    border-color: #cc5200;
    color: white;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .btn-warning:active {
    background-color: #eb5e00; }
  .btn-warning .caret {
    margin-left: 0.4em;
    vertical-align: 0.1em; }

.open > .dropdown-toggle.btn-warning {
  background-color: #ff6600;
  border-color: #cc5200;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .open > .dropdown-toggle.btn-warning:hover, .open > .dropdown-toggle.btn-warning:active, .open > .dropdown-toggle.btn-warning:focus {
    background-color: #cc5200;
    border-color: #cc5200;
    color: white;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .open > .dropdown-toggle.btn-warning:active {
    background-color: #eb5e00; }
  .open > .dropdown-toggle.btn-warning .caret {
    margin-left: 0.4em;
    vertical-align: 0.1em; }

.btn-error {
  background-color: #ff6666;
  border-color: #ff3333;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .btn-error:hover, .btn-error:active, .btn-error:focus {
    background-color: #ff3333;
    border-color: #ff3333;
    color: white;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .btn-error:active {
    background-color: #ff5252; }
  .btn-error .caret {
    margin-left: 0.4em;
    vertical-align: 0.1em; }

.open > .dropdown-toggle.btn-error {
  background-color: #ff6666;
  border-color: #ff3333;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .open > .dropdown-toggle.btn-error:hover, .open > .dropdown-toggle.btn-error:active, .open > .dropdown-toggle.btn-error:focus {
    background-color: #ff3333;
    border-color: #ff3333;
    color: white;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .open > .dropdown-toggle.btn-error:active {
    background-color: #ff5252; }
  .open > .dropdown-toggle.btn-error .caret {
    margin-left: 0.4em;
    vertical-align: 0.1em; }

.btn-dark {
  background-color: #41464d;
  border-color: #2a2d31;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .btn-dark:hover, .btn-dark:active, .btn-dark:focus {
    background-color: #2a2d31;
    border-color: #2a2d31;
    color: white;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .btn-dark:active {
    background-color: #383c42; }
  .btn-dark .caret {
    margin-left: 0.4em;
    vertical-align: 0.1em; }

.open > .dropdown-toggle.btn-dark {
  background-color: #41464d;
  border-color: #2a2d31;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .open > .dropdown-toggle.btn-dark:hover, .open > .dropdown-toggle.btn-dark:active, .open > .dropdown-toggle.btn-dark:focus {
    background-color: #2a2d31;
    border-color: #2a2d31;
    color: white;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .open > .dropdown-toggle.btn-dark:active {
    background-color: #383c42; }
  .open > .dropdown-toggle.btn-dark .caret {
    margin-left: 0.4em;
    vertical-align: 0.1em; }

.link-default {
  color: #cccccc !important; }
  .link-default:hover, .link-default:focus {
    color: #b3b3b3 !important; }

.link-clear {
  color: white !important; }
  .link-clear:hover, .link-clear:focus {
    color: #e6e6e6 !important; }

.link-primary {
  color: #6699cc !important; }
  .link-primary:hover, .link-primary:focus {
    color: #407fbf !important; }

.link-success {
  color: #33cc99 !important; }
  .link-success:hover, .link-success:focus {
    color: #29a37a !important; }

.link-warning {
  color: #ff6600 !important; }
  .link-warning:hover, .link-warning:focus {
    color: #cc5200 !important; }

.link-error {
  color: #ff6666 !important; }
  .link-error:hover, .link-error:focus {
    color: #ff3333 !important; }

.link-dark {
  color: #41464d !important; }
  .link-dark:hover, .link-dark:focus {
    color: #2a2d31 !important; }

.dropdown-menu {
  margin-top: 0.4em;
  padding: 0.4em;
  border: 1px solid #cccccc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.dropdown-menu > li > a {
  padding: 0.4em 0.8em; }

.dropdown-menu .divider {
  margin: 0.4em 0;
  height: 0;
  background: none !important;
  border-bottom: 1px dashed #eeeeee; }

.dropdown-menu--right {
  left: auto;
  right: 0; }

.open > .dropdown-toggle {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

.label-default {
  color: white;
  background-color: #cccccc; }

.label-clear {
  color: #222222;
  background-color: white; }

.label-primary {
  color: white;
  background-color: #6699cc; }

.label-success {
  color: white;
  background-color: #33cc99; }

.label-warning {
  color: white;
  background-color: #ff6600; }

.label-error {
  color: white;
  background-color: #ff6666; }

.label-dark {
  color: white;
  background-color: #41464d; }

.panel {
  position: absolute; }

.navbar {
  background-color: white;
  margin: 0 0 2em;
  height: 2em;
  line-height: 2em;
  border: none;
  min-height: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 1px rgba(34, 34, 34, 0.2);
  -moz-box-shadow: 0 0 1px rgba(34, 34, 34, 0.2);
  -ms-box-shadow: 0 0 1px rgba(34, 34, 34, 0.2);
  -o-box-shadow: 0 0 1px rgba(34, 34, 34, 0.2);
  box-shadow: 0 0 1px rgba(34, 34, 34, 0.2); }
  .navbar > div {
    display: inline-block;
    width: 100%; }
  .navbar .navbar-header {
    display: inline-block;
    float: none; }
  .navbar .navbar-brand {
    height: auto;
    display: inline-block;
    float: none;
    padding: 0 1em;
    vertical-align: -0.1em;
    margin: 0 2em; }
  .navbar .navbar-brand h2 {
    margin: 0;
    font-size: 1.4em;
    line-height: 1.3em;
    color: #222222;
    font-weight: normal;
    display: inline-block; }
  .navbar .nav {
    height: 2em;
    float: none;
    display: inline-block; }
  .navbar .navbar-right {
    margin: 0 !important; }
  .navbar .nav > li {
    height: 2em;
    float: none;
    display: inline-block;
    vertical-align: 0; }
  .navbar .nav > li > a {
    color: #222222;
    padding: 0.2em 0.8em 0.3em;
    display: inline-block;
    border: 1px solid transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
    .navbar .nav > li > a:hover, .navbar .nav > li > a:focus, .navbar .nav > li > a:active, .navbar .nav > li > a.active {
      background: none;
      color: #33cc99; }
    .navbar .nav > li > a.active {
      border: 1px solid #33cc99; }
  .navbar .nav > li.dropdown > a {
    border: none;
    background: none !important; }
  .navbar .nav > li.open > a {
    color: #33cc99;
    border: none;
    background: none !important; }
  .navbar .nav > li > .dropdown-menu {
    margin-top: -1px;
    border: 1px solid #eeeeee;
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

.navbar.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  line-height: 4em; }
  .navbar.header .nav {
    height: 4em; }
  .navbar.header .nav > li {
    height: 4em; }

.circle_pmdr {
  position: relative;
  margin: auto;
  z-index: 1;
  width: 1em;
  height: 1em;
  font-size: 5em;
  overflow: hidden;
  border-radius: 100%;
  color: #222222; }

.circle_pmdr-half {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0.5em;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.circle_pmdr-half-container {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: rotate(180deg) "";
  -moz-transform: rotate(180deg) "";
  -ms-transform: rotate(180deg) "";
  -o-transform: rotate(180deg) "";
  transform: rotate(180deg) ""; }

.circle_pmdr-half-progress {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200%;
  border-radius: 100%; }

.circle_pmdr-half:nth-child(2) {
  right: 0;
  left: auto; }
  .circle_pmdr-half:nth-child(2) .circle_pmdr-half-container {
    right: 0;
    left: auto;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: rotate(-180deg) "";
    -moz-transform: rotate(-180deg) "";
    -ms-transform: rotate(-180deg) "";
    -o-transform: rotate(-180deg) "";
    transform: rotate(-180deg) ""; }
  .circle_pmdr-half:nth-child(2) .circle_pmdr-half-progress {
    right: 0;
    left: auto; }

.circle_pmdr-timer {
  position: absolute;
  z-index: 3;
  background-color: white;
  top: 0.1em;
  left: 0.1em;
  bottom: 0.1em;
  right: 0.1em;
  font-size: 0.4em;
  line-height: 2.15em;
  color: #222222;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background-image: url("http://lorempixel.com/300/300");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .circle_pmdr-timer .time {
    position: relative;
    z-index: 5;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    line-height: 1em;
    font-size: 0.6em;
    text-align: center;
    color: inherit;
    visibility: hidden; }
  .circle_pmdr-timer .time small {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    display: block; }

.is-logged .circle_pmdr-timer {
  cursor: pointer;
  background: white;
  background-image: none !important; }
.is-logged.is-free .circle_pmdr .circle_pmdr-timer .time {
  visibility: visible; }
.is-logged.is-free .circle_pmdr:hover .circle_pmdr-timer {
  background-color: #33cc99;
  color: white; }
.is-logged.is-working .circle_pmdr:hover .circle_pmdr-half-progress {
  background-color: #ff6666; }

.is-working .circle_pmdr-timer {
  background: white;
  background-image: none !important; }
  .is-working .circle_pmdr-timer .time {
    visibility: visible; }
  .is-working .circle_pmdr-timer .time small {
    display: none; }
  .is-working .circle_pmdr-timer:hover {
    color: #ff6666; }
.is-working .circle_pmdr-half-progress {
  background-color: #ff6600; }
.is-working.is-selected .circle_pmdr {
  background-color: #f8f8f8; }

.progress-bar {
  overflow: hidden;
  min-width: 0 !important; }

.user-status {
  color: #cccccc;
  margin-left: 1em;
  text-transform: uppercase;
  font-weight: bold; }

.is-working .user-status {
  color: #ff6666; }

.is-free .user-status {
  color: #33cc99; }

.user_listing {
  display: block;
  position: relative;
  z-index: 1; }
  .user_listing > a {
    padding: 1.5em 0;
    display: block;
    color: #222222; }
  .user_listing h4 {
    margin: 1em 0 0 0; }
  .user_listing strong {
    font-weight: lighter; }
  .user_listing:hover {
    background-color: #f8f8f8; }
  .user_listing.is-selected, .user_listing.is-selected:hover {
    background-color: white; }

.user-avatar, .user-avatar--small, .user-avatar--big {
  position: relative;
  display: inline-block;
  vertical-align: -0.2em;
  height: 1.2em;
  width: 1.2em;
  margin: -0.2em 0.4em 0 0;
  background-color: #cccccc;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background-image: url("http://lorempixel.com/300/300");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.user-avatar--small {
  font-size: 0.6em; }

.user-avatar--big {
  font-size: 4em; }

.user_detail .header-detail {
  padding: 4em 3em 1em;
  background-color: #41464d;
  color: white;
  text-align: center; }
  .user_detail .header-detail .form-control {
    text-align: center;
    background: none;
    border: none;
    color: inherit;
    height: auto;
    padding: 0 1em;
    margin: 0;
    line-height: 1.4em;
    font-size: 1em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
    .user_detail .header-detail .form-control:hover, .user_detail .header-detail .form-control:focus {
      background-color: rgba(34, 34, 34, 0.67); }
  .user_detail .header-detail .user-avatar, .user_detail .header-detail .user-avatar--small, .user_detail .header-detail .user-avatar--big {
    margin: 0; }
    .user_detail .header-detail .user-avatar .form-control, .user_detail .header-detail .user-avatar--small .form-control, .user_detail .header-detail .user-avatar--big .form-control {
      font-size: 0.25em;
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 2em;
      margin: -0.9em 0 0 -10em;
      width: 20em;
      opacity: 0;
      visibility: hidden;
      background-color: rgba(34, 34, 34, 0.67);
      -webkit-transition: 0.3s ease 0.9s;
      -moz-transition: 0.3s ease 0.9s;
      -ms-transition: 0.3s ease 0.9s;
      -o-transition: 0.3s ease 0.9s;
      transition: 0.3s ease 0.9s; }
    .user_detail .header-detail .user-avatar:hover .form-control, .user_detail .header-detail .user-avatar--small:hover .form-control, .user_detail .header-detail .user-avatar--big:hover .form-control {
      opacity: 1;
      visibility: visible;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
  .user_detail .header-detail .title-detail {
    margin: 1em 0 2em 0;
    color: white; }
    .user_detail .header-detail .title-detail h2, .user_detail .header-detail .title-detail h4 {
      margin: 0;
      line-height: 1.4em; }
    .user_detail .header-detail .title-detail h4 {
      color: #cccccc; }
    .user_detail .header-detail .title-detail .form-control {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
      @media (min-width: 768px) {
        .user_detail .header-detail .title-detail .form-control {
          width: 50%; } }
      @media (min-width: 1200px) {
        .user_detail .header-detail .title-detail .form-control {
          width: 33%; } }
